.container {
}

.title {
  font-size: 48px;
  text-align: center;
  margin-bottom: 50px;
}

.content {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imageContainer {
  flex: 1;
  position: relative;
  height: 450px;
}

.image {
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.textInput,
.textArea {
  padding: 20px;
  background-color: transparent;
  outline: none;
  color: #ccc;
  border: 3px solid #ccc;
  font-size: 20px;
  font-weight: bold;
}
