@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #000;
  color: #eee;
}

a {
  text-decoration: none;
  color: inherit;
}

.theme {
  transition: 1s all ease;
}

.dark {
  background-color: #000;
  color: #eee;
}

.light {
  color: #111;
  background-color: white;
}

.title-background-gradient {
  background: linear-gradient(to bottom, olivedrab, #ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes hero-image-move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}

.hero-image-animation {
  animation: hero-image-move 3s infinite ease alternate;
}

@keyframes contact-image-animation-move {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px) scale(1.03);
  }
}

.contact-image-animation {
  animation: contact-image-animation-move 3s infinite ease alternate;
}